<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Save Customer</title>

    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <link href="../../static/css/style.css" th:href="@{/css/add-customer-style.css}" rel="stylesheet" media="screen" />
</head>
<body>

<div id="wrapper">

    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>

</div>

<div id="container">
    <h3>Save Customer</h3>

    <form action="#" th:action="@{/customer/saveCustomer}" th:object="${customer}" method="post">

        <table>
            <tbody>
            <tr>
                <td><label>First name:</label></td>
                <td><input type="text" th:field="*{firstName}" placeholder="Kevin" /></td>
            </tr>
            <tr>
                <td><label>Last name:</label></td>
                <td><input type="text" th:field="*{lastName}" placeholder="Smith" /></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" th:field="*{email}" placeholder="kevin@foo.bar" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save" class="save" /></td>
            </tr>
            </tbody>
        </table>

    </form>

    <p><a href="#" th:href="@{/customer/list}">Back to List</a></p>
</div>

</body>
</html>