<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Customers</title>

    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
</head>
<body>

<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>

<div id="container">

    <div id="content">

        <input type="button" value="Add Customer"
               onclick="window.location.href='showFormForAdd'; return false;"
               class="add-button" />

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.firstName}">Erik</td>
                <td th:text="${customer.lastName}">Carlsten</td>
                <td th:text="${customer.email}">ecarlste@gmail.com</td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>