<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Confirmation</title>
</head>
<body>

The student is confirmed: <span th:text="${student.firstName + ' ' + student.lastName}">Kevin Smith</span>

<br/><br/>

Country: <span th:text="${student.country}">United States of America</span>

<br/><br/>

Favorite Programming Language: <span th:text="${student.programmingLanguage}">Python</span>

<br/><br/>

Known Operating Systems:
<span th:each="operatingSystem, iterStat : ${student.operatingSystems}"
      th:text="!${iterStat.last} ? ${operatingSystem} + ',' : ${operatingSystem}">Windows</span>

</body>
</html>